$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  /*padding-top: 20px;
  padding-bottom: 20px;*/
  font-family: "Helvetica Neue";
  opacity: 0;
  -webkit-transition: opacity 0.28s ease;
  transition: opacity 0.28s ease;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

h3 {
  line-height: 1.5;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container {
  padding-left: 2em;
  padding-right: 2em;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

a {
  text-decoration: none !important;
}

span a, span a:active, span a:focus{
  font-weight: 600;
  color: #215D6D;
  text-decoration: none !important;
  -webkit-transition: all 0.18s ease;
  transition: all 0.18s ease;
}

span a:hover{
  color: #0D3745;
  text-decoration: none !important;
  -webkit-transition: all 0.18s ease;
  transition: all 0.18s ease;
}

.hideme {
    opacity:0;
    margin-top: 30px;
}

/* Custom CSS */

// 1. Sections

section {
  background-color: #fafafa;
  padding: 100px 0;
}

section#our-services {
  padding-bottom: 0px;
}

section#header {
  min-height: 656px;
  background-color: #0D3745;
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  padding: 13em 3em 13em 3em;

  & h1 {
    font-size: 40pt;
  }

  & p {
    font-weight: 200;
    font-size: 12pt;
    letter-spacing: .06em;
    color: #fafafa;
    margin-top: 20px;
    line-height: 1.5;
  }
  & .inner {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
}

section#featured-works {
  background-color: #fff;
}

.swiper-slide {
  background-color: #fff;
}

// 2. Title

.title {
  font-size: 16pt;
  font-weight: 600;
}

.title:after {
  content: '';
  position: absolute;
  margin-top: 5px;
  height: 6px;
  width: 0px;
  display: block;
  background-color: #215D6D;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.scrolled.title:after {
  width: 100px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.contents {
  & p {
    padding-top: 5px;
    font-size: 12pt;
    line-height: 1.5;
    color: #454545;
    font-weight: normal;
  }

  & h3 {
    margin-top: 4px;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: 14pt;
    font-weight: bold;
  }
}


// 3. Footer

footer {
  padding: 40px 0;
  text-align: center;
  color: #aaa;
  font-weight: normal;
  overflow: visible;
  letter-spacing: .03em;
  margin-top: 72px;

  & span {
    margin: 0 10px;
  }
}

#logo-bottom {
  background-image: url("../images/logo-bottom.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  margin-top: -60px !important;
  left: 0;
  right: 0;
  margin: auto;
}

// // 4. Components
// #scrolltop {
//   display: inline-block;
//   position: absolute;
//   background-color: #215D6D;
//   width: 70px;
//   height: 70px;
//   color: #fff;
//   right: 100px;
//   margin-top: -20px;
//   -webkit-transition: all .2s ease-in-out;
//   transition: all .2s ease-in-out;

//   & i {
//     font-size: 36px;
//     padding: 17px;
//   }
// }

// #scrolltop:hover{
//   background-color: #fff;
//   color: #215D6D;
//   -webkit-transition: all .2s ease-in-out;
//   transition: all .2s ease-in-out;
// }


.button {
  display: inline-block;
  border-radius: 2px;
  width: auto;
  padding: 10px 20px;
  background-color: #215D6D;
  margin-top: 30px;
  font-family: "Montserrat";
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  border: 2px #215D6D solid;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.button:hover {
  background-color: #fff;
  color: #215D6D;
  border: 2px #fff solid;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.button-ghost {
  display: inline-block;
  border-radius: 2px;
  width: auto;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  font-family: "Montserrat";
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
  color: #215D6D;
  border: 3px #215D6D solid;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

  &.dark {
    background-color: rgba(255,255,255,0);
    color: #fff;
    border: 2px #fff solid;
  }
}

#cta-button {
  // position: absolute;
  // top: 20px;
  // right: 40px;
  margin-left: 10px;
}

.button-ghost:hover {
  background-color: #215D6D;
  color: #fff;
  border: 3px #215D6D solid;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

  &.dark {
    background-color: #fff;
    border: 2px #fff solid;
    color: #215D6D;
  }
}

.button-ghost:hover .input {
  color: #fff !important;
}

// Form

.no-padding {
  padding-left: 0 !important;
  padding-right: 90px;
}

.info {
  margin-top: 30px;
  font-size: 12pt !important;
  color: #454545 !important;

  & i {
    font-size: 24px;
    color: #757575;
    padding: 20px 10px;
    -webkit-transition: color .18s ease-in-out;
    transition: color .18s ease-in-out;
  }

  .fa-facebook {
    padding-left: 0 !important;
  }

  a:hover .fa-facebook {
    color: #39579a;
    -webkit-transition: color .18s ease-in-out;
    transition: color .18s ease-in-out;
  }
  a:hover .fa-twitter {
    color: #55acee;
    -webkit-transition: color .18s ease-in-out;
    transition: color .18s ease-in-out;
  }
  a:hover .fa-linkedin {
    color: #0076b7;
    -webkit-transition: color .18s ease-in-out;
    transition: color .18s ease-in-out;
  }
}

.form-group .col-xs-12 {
  position: relative;
  margin-top: 40px;
  margin-bottom: 2.25rem;
  padding-left: 0px;
  padding-right: 0px;

  &.first {
    padding-right: 30px;
  }
}

.form-group input {
  height: 1.9rem;
}

.form-group select {
  width: 100%;
  font-size: 13pt;
  height: 1.6rem;
  padding: 0.125rem 0.125rem 0.0625rem;
  background: none;
  border: none;
  line-height: 1.6;
  box-shadow: none;
}
.form-group .control-label {
  position: absolute;
  top: -4px;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-size: 12pt;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
}
.form-group .bar {
  position: relative;
  border-bottom: 2px solid #999;
  display: block;
  margin-top: 10px;
}
.form-group .bar::before {
  content: '';
  height: 2px;
  width: 0;
  left: 50%;
  bottom: -2px;
  position: absolute;
  background: #215D6D;
  -webkit-transition: left 0.28s ease, width 0.28s ease;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}
.form-group input,
.form-group textarea {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 13pt;
  border-width: 0;
  border-color: transparent;
  line-height: 3;
  width: 100%;
  color: transparent;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  box-shadow: none;
  overflow: visible;
  height: 22px;
}

.form-group select,
.form-group input:focus,
.form-group input:valid,
.form-group input.form-file,
.form-group input.has-value,
.form-group textarea:focus,
.form-group textarea:valid,
.form-group textarea.form-file,
.form-group textarea.has-value {
  color: #454545;
}
.form-group select ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group input:valid ~ .control-label,
.form-group input.form-file ~ .control-label,
.form-group input.has-value ~ .control-label,
.form-group textarea:focus ~ .control-label,
.form-group textarea:valid ~ .control-label,
.form-group textarea.form-file ~ .control-label,
.form-group textarea.has-value ~ .control-label {
  font-size: 10pt;
  color: gray;
  top: -24px;
  left: 0;
}
.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
  outline: none;
}
.form-group select:focus ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group textarea:focus ~ .control-label {
  color: #215D6D;
}
.form-group select:focus ~ .bar::before,
.form-group input:focus ~ .bar::before,
.form-group textarea:focus ~ .bar::before {
  width: 100%;
  left: 0;
}

#submit {
  padding: 0px;
}

#submit input {
  margin-top: -2px;
  height: 32pt;
  color: #215D6D;
  text-transform: uppercase;
  font-size: 10.5pt;
  width: 150.14px;
}

#submit:hover input[type=submit]{
  color: #fff!important;
}


// Swiper 

.swiper-pagination-bullet-active {
  background: #215D6D !important;
}

.swiper-button-white {
  display: block;
  width: 70px !important;
  height: 70px !important;
  background-color: #215D6D;
  background-image: none !important;
  top: inherit !important;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;

  &.swiper-button-next {
    right: 0px;
  }
  &.swiper-button-prev {
    left: 0px;
  }
  & i {
    font-size: 36px;
    padding: 17px;
    color: #fff;
  }
}

.image {
    border-radius: _size(border-radius);
    border: 0;
    display: inline-block;
    position: relative;
    margin: 0px 0 60px 0;

    img {
      border-radius: _size(border-radius);
      display: block;
    }

    &.left {
      float: left;
      padding: 0 1.5em 1em 0;
      top: 0.25em;
    }

    &.right {
      float: right;
      padding: 0 0 1em 1.5em;
      top: 0.25em;
    }

    &.left,
    &.right {
      max-width: 40%;

      img {
        width: 100%;
      }
    }

    &.fit {
      display: block;
      margin: 0 0 _size(element-margin) 0;
      width: 100%;

      img {
        width: 100%;
      }
    }
  }


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1024px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  #our-services .image {
    margin-bottom: 0px;
  }
  #our-services .row {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  #our-services .image {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  section#our-services {
    padding-bottom: 10px !important;
  }
  .no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media screen and (max-width: 1199px) {
  .container {
    max-width: 750px;
  }
  section#header{
    padding: 5em 1em 5em 1em;
  }
  .contents {
    margin-top: 30px;
  }
}

@media screen and (max-width: 500px) {
  section {
    padding: 50px 0!important;
  }

  section#header{
    padding: 2em 0em 8em 0em;
    
    & .button {
      padding: 10px 15px;
    }
    a:hover .button {
      text-decoration: none !important;
    }
  }
  .swiper-button-white,
  .swiper-button-disabled {
    opacity: 0 !important;
    display: none;
  }
}